@media screen and (max-width: 700px) {
  div.menu {
    display: none;
  }

  .menu_1 {
    display: block;
  }

  div.currency {
    height: 300px;
    width: 88%;
    margin-left: 33px;
  }
  .yyy {
    display: flex;
    align-items: center;
  }

  .flex_1 {
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  div.cc {
    width: 190px;
  }

  div.cen {
    justify-content: center;
  }
}

@media screen and (min-width: 700px) {
  .menu_1 {
    display: none;
  }
  div.xyz {
    display: none;
  }

  .mr-small {
    padding-inline-start: 150px;
  }
}

.a {
  position: absolute;
  top: 93px;
  left: 246px;
}

.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.featuredItem {
  align-items: center;
  margin: 30px 120px 40px;
  padding: 40px 40px 40px 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.featuredTitle {
  font-size: 20px;
}

.featuredMoneyContainer {
  margin: 10px 0px;
  display: flex;
  align-items: center;
}

.featuredMoney {
  font-weight: 600;
  top: 46px;
  right: 215px;
  position: absolute;
}

.grid-container {
  display: grid;
}

.grid-container > div {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  text-align: center;
}

.currency {
  top: "0px";
  height: 860px;
  overflow: auto;
}

.FullTable {
  top: "0px";
  height: 819px;
  overflow: auto;
}

.icon_doller {
  position: absolute;
  top: auto;
  bottom: 32px;
  right: 90px;
  z-index: 0;
  font-size: 97px;
  color: rgb(0 0 0 / 15%);
}

.icon_i {
  position: absolute;
  top: auto;
  bottom: 20px;
  right: 140px;
  z-index: 0;
  font-size: 97px;
  color: rgb(0 0 0 / 15%);
}

.table_style_1 {
  border-radius: 15px;
  background-color: rgb(215, 237, 226);
  align-items: center;
}

.table_style_1 thead {
  font-family: Montserrat-Medium;
  font-size: 18px;
  color: rgb(8, 8, 8);
  line-height: 2.1;
  text-transform: uppercase;
}

.table_style_1 tbody tr:nth-child(even) {
  background-color: #e1ffee;
}

.centerdiv {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

table {
  width: 100%;
  background-color: rgb(215, 237, 226);
}

.table100.ver5 tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.table100.ver5 tbody tr:nth-child(odd) {
  background-color: #c1efff;
}

.table100.ver5 td {
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: rgb(7, 6, 6);
  line-height: 1.4;
}

.table100.ver5 thead {
  font-family: Montserrat-Medium;
  font-size: 20px;
  color: rgb(3, 2, 2);
  line-height: 2.1;
  text-transform: uppercase;
  background-color: #10b1da;
}

.table100.ver5 .row100:hover td {
  color: #fe3e64;
}

.table100.ver5 .hov-column-ver5 {
  color: #fe3e64;
}

.table100.ver5 .hov-column-ver5::before {
  content: "";
  display: block;
  width: 80%;

  pointer-events: none;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}

.table100.ver5 .hov-column-head-ver5 {
  background-color: #1a3f48 !important;
  color: #fe3e64;
}

.table100.ver5 .row100 td:hover {
  color: #fe3e64;
}

.table100.ver5 .row100 td:hover:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border: 1px solid #fe3e64;
}
